{% extends 'front/home/main.html.twig' %}

{% block main %}

    <div class="container">
            <h4>Imprint</h4>
            <blockquote>
                Heimo Rainer, Vienna, Austria <br/>
                email address <a href="mailto:info@jacq.org">info@jacq.org</a> <br/>
                phone +43-664-5229135
            </blockquote>

            <h4>Citation</h4>
            <p>JACQ consortium (2004 ff.) Virtual Herbaria Website at <a href="https://www.jacq.org/">https://www.jacq.org/</a> consulted on YYYY-MM-DD</p>
            <p>For individual records copy the URL following this concept: https://www.jacq.org/detail.php ?ID=########
                using the JACQ identifier of the record
                for example: <a href="https://www.jacq.org/detail.php?ID=1516410">https://www.jacq.org/detail.php?ID=1516410</a></p>
            <p>For the herbaria of the Berlin Botanical Garden and Botanical Museum (B) and the Jardín Botánico San
                Salvador (LAGU) CETAF stable identifiers are implemented.
                Please use the URL as shown in the first row of the details page.</p>
            <p>For example <a href="https://herbarium.bgbm.org/object/B100002784">https://herbarium.bgbm.org/object/B100002784</a> or <a href="https://lagu.jacq.org/object/AM-01983">https://lagu.jacq.org/object/AM-01983</a></p>
            <p>Images are commonly licensed under CC-BY 4.0 <a href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a></p>

            <h4>Privacy Notice</h4>
            <p>In accordance with the requirements of the General Data Protection Regulation (“GDPR”) and the Austrian
                Data Protection Act (“DSG”) this statement explains, which personal data (furthermore “data”) JACQ
                ("we") as controller collects from you or about you, how we use these data, and which options you have
                when visiting this website. We comply with all legal requirements and process data only in accordance
                with the provisions of the relevant regulations. If you have any questions about this statement or our
                data processing activities, please contact <a href="mailto:info@jacq.org">info@jacq.org</a>.</p>

            <h5>Your Rights</h5>
            <p>In accordance with Articles 15-18, 20, and 21 GDPR, you have the right of access, rectification, erasure,
                restriction of processing, portability and objection against the processing of your data. However, these
                rights are excluded in accordance with Section 2d para. 6 of the Austrian Research Organization Act
                (Forschungsorganisationsgesetz) if the processing is carried out for purposes in accordance with Art. 89
                para. 1 GDPR (processing for archiving purposes in the public interest, scientific or historical
                research purposes, or statistical purposes) and if this purpose is rendered impossible or seriously
                impaired by the exercise of your rights.</p>
            <p>If you wish to exercise one or more of these rights, please contact us via email at <a
                    href="mailto:info@jacq.org">info@jacq.org</a> or by mail to: Natural History Museum Vienna, Burgring
                7, 1010 Vienna. If you believe that the processing of your data violates applicable law or that your
                rights/interests have been infringed, you can launch a complaint with the Austrian Data Protection
                Authority.</p>

            <h5>Technical Partners</h5>
            <p>In order to operate our website, we use technical partners who support us in the creation and operation
                of the website. In some cases these partners need access to data in order to carry out their activities;
                however, they will not process the data unless necessary. Our current partner is Senegate Programming,
                Fasanweg 7, 2301 Groß-Enzersdorf.</p>

            <h5>Automatic Data Storage</h5>
            <p>To enable correct operation of the website it is technically necessary to process certain information.
                These data are processed to optimize the website, to correct errors, and to protect the website against
                attacks; therefore, processing is based on the legitimate interest of the controller.</p>


            <p>Log files for JACQ input pages store the following data:</p>
            <ul>
                <li> - your browser and browser version</li>
                <li> - your operating system</li>
                <li> - the referring URL</li>
                <li> - the host name and IP address of your device</li>
                <li> - date and time of your visit</li>
                <li> - the quantity of data sent (upload/download volume)</li>
                <li> - content entered by user including JACQ user name.</li>
            </ul>

            <p>These data are stored for an unlimited period of time in accordance with Section 2d para. 5 of the
                Austrian Research Organization Act (Forschungsorganisationsgesetz) for purposes in accordance with Art.
                89 para. 1 GDPR (processing for archiving purposes in the public interest, scientific or historical
                research purposes, or statistical purposes).</p>

            <p>Log files for JACQ access pages store the following data:</p>
            <ul>
                <li> - the referring URL</li>
                <li> - the host name and IP address of your device</li>
                <li> - date and time of your visit</li>
                <li> - the quantity of data sent (upload/download volume).</li>
            </ul>
            <p>These data are stored for thirty (30) days and are then automatically deleted.</p>

            <p>We access data only if necessary for the integrity of our website or in case of suspicion of illegal
                behavior. In this case, the data may be passed on to the relevant authorities.</p>

            <h5>TLS Encryption with HTTPS</h5>
            <p>In order to secure online transmission of data in accordance with the principles of privacy by design and
                privacy by default, we use TLS (Transport Layer Security), an encryption protocol that strengthens the
                protection of data. This protection is recognizable by the lock symbol at the left of the Internet
                address and the use of the https scheme (instead of http).</p>


            <h5>Storage of Personal Data When Contacting Us</h5>
            <p>When you contact us you transmit personal data including name, email address, address, telephone number,
                relevant in the context of your request. We use these data to handle your request and to communicate
                with you on the basis of your inquiry (thus your request is your consent in accordance with Art. 6 para.
                1 lit a GDPR). We will not pass your personal data on to third parties without your consent, unless this
                is necessary for the handling of your request. Your data may also be accessed in case of suspicion of
                illegal behavior. You can revoke this consent at any time via the channels mentioned above, but in any
                case by sending an email to <a href="mailto:info@jacq.org">info@jacq.org</a>. In this case we will
                discontinue further processing unless processing is necessary for compliance with legal or regulatory
                retention requirement, e.g. establishment of a (pre-)contractual relationship.</p>


            <p>In a (pre-)contractual relationship with JACQ, we process the data of contact persons and contractual
                partners, especially name, address, email address, and telephone number on the legal basis of the
                performance of the contract or compliance with statutory provisions.</p>


            <p>The data are processed until the contract is fulfilled and furthermore for the duration of the statutory
                retention periods.</p>


            <p>We would like to point out that the transmission of information via the Internet involves risks outside
                our scope of influence. If you transmit data by email, we cannot guarantee the secure transmission and
                protection of your data. We recommend that you do not transmit confidential data unencrypted by email.
                You are aware of these risks, and we are not liable for any loss or unauthorized access of data outside
                our control.</p>

            <h5>Data Storage in Case of Registration and Participation in JACQ</h5>
            <p>When you register to participate in JACQ, personal information is collected in a standardized manner.
                This information is necessary to provide you with access to the database and to fulfill your contract
                with JACQ. You can edit your personal password in your personal profile at any time. You can request to
                amend or delete your profile at any time by sending an e-mail to <a href="mailto:info@jacq.org">info@jacq.org</a>.
                Please note that the deletion constitutes a termination of the contract and that you will no longer have
                access to the data processed in connection with your profile and access to the JACQ input pages (the
                "Service") will be discontinued. The data will in any case be stored for the duration of the contract as
                well as for the duration of statutory retention periods. Thereafter, the contract-relevant data will be
                deleted; with regard to the taxonomic data entered by you (place of discovery, time, object and your
                name), the unlimited storage period laid down in Section 2d para 5 Austrian Research Organization Act
                (Forschungsorganisationsgesetz) applies for scientific purposes in conjunction with Section 6 para 1 lit
                e GDPR. If you wish that the data provided by you and assignable to you should no longer be accessible,
                please contact <a href="mailto:info@jacq.org">info@jacq.org</a> so that a pseudonymisation of your data
                can be initiated.</p>

            <h5>Cookies</h5>
            <p>Our JACQ input pages use cookies, which are small text files stored on your device through the browser.
                They do not cause any damage, and no personal data, such as your name or address, are stored and you
                cannot be identified on the basis of this information.</p>

            <p>There are different types and categories of cookies we only evoke first-party cookies which are created
                by our own website; necessary cookies ensure basic functions of the website and target-oriented cookies
                guarantee session based data entry and retrieval. Some cookies remain stored on your device until you
                delete them. You can set up your browser to inform and ask you in every instance cookies are installed.
                You can deactivate cookies in your browser settings. Please note that this may impair the functionality
                of our website.</p>
            <h5>Analytics</h5>
            <p>To improve the usability of our website, we use analytics to obtain visitor statistics. However any such
                data is aggregated and statistical, and we are not in a position to allocate data to a specific user
                without additional information.</p>
            <h5> Google/Google Maps</h5>
            <p>In order to improve the usability of our website, and in order to visualize the location of taxonomic
                data we use the services of Google Maps, a service of Google LLC 1600 Amphitheatre Parkway Mountain
                View, CA 94043, United States. If you use the functions of the map, you are directed to Google Maps and
                transmit the data you enter directly to Google. Google LLC is an active participant in the EU-U.S.
                Privacy Shield Framework, which legitimizes the transfer of personal information to the United States.
                Depending on the service, Google processes various data on Google's servers in the United States.
                Depending on whether you have a Google Account and are logged in or not, Google may connect the data
                collected on our website to your person. Additional information regarding the data processing activities
                of Google is available at <a href="https://www.google.com/intl/de/policies/privacy/">https://www.google.com/intl/de/policies/privacy/</a>. Data processing is carried
                out on the basis of our legitimate interest or if you have made the appropriate settings and accepted
                cookies respectively when you enter taxonomic data in our database. In accordance with Art. 28 GDPR, we
                have concluded a data processing agreement with Google.</p>

    </div>

{% endblock %}
