{% extends 'output/main.html.twig' %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col s12 m8 offset-m2 condensed">
                <h5>Sorry, no specimen could be found for this detail ID.</h5>
            </div>
        </div>
    </div>
{% endblock %}
