@import "variables";
@import "~materialize-css/sass/materialize";
@import '~@fortawesome/fontawesome-free/css/all';
@import "~leaflet/dist/leaflet.css";

@import "navbar";
@import "typography";
@import "tables";
@import "statistics";
@import "searchForm";

#partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

#mirador .mirador-viewer {
    height: 800px !important;
    min-height: 0 !important;
}
